*{
	outline: 1px dotted red;
}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#button{
	margin-top: 20px;
	margin-bottom: 20px;
}

#imgbox{
	height: 50%;
	width: 50%;
	margin-left: auto;
	margin-right:auto;
	display: block;
}

#infobox{
	width: 25%;
	height: 400px;
}

#googleMap{
	width: 100%;
	height: 100%;
}