<div id='container'>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-brand" href="#"><img src="../assets/static/images/30.png"/></p>
			</div>
			<form class="navbar-form navbar-right"
			(submit) = "login(); form.reset" #loginform='ngForm' id='login'>
				<div
				*ngIf='!userid'
				[ngClass]="{'has-error':email.errors && (email.dirty || email.touched), 'has-success':!email.errors && (email.dirty || email.touched)}"
				class='form-group email has-feedback'>
					<input  type="text" class="form-control" name="email"
					required
					pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
					[(ngModel)]='user.email'
					#email='ngModel'
					placeholder="email">
					<span *ngIf='!email.errors && (email.dirty || email.touched)' class='glyphicon glyphicon-ok form-control-feedback'></span>
					<span *ngIf='email.errors && (email.dirty || email.touched)' class='glyphicon glyphicon-remove form-control-feedback'></span>
				</div>
				<div *ngIf='!userid' class='form-group'>
					<input type="password" class="form-control" name="password"
					required
					[(ngModel)]='user.password'
					placeholder='password'>
				</div>
				<div *ngIf='!userid' class='form-group'>
					<div class="input-group-btn-right">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-log-in"></i>
						</button>
					</div>
				</div>
				<div class='form-group'>
					<button *ngIf='!userid' class="btn btn-default">
						<a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
					</button>
					<button *ngIf='userid' class="btn btn-default">
						<a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</button>
				</div>
			</form>
		</div>
	</nav>

	<div class='row' id = 'search'>
		<div class='col-xs-5'>
		</div>
		<div class='col-xs-2' >
			<div class='form-inline' class='center-block'>
				<form  #searchform='ngForm' id='search'>
					<div class='input-group'>
						<input type="number" class='form-control input-sm' name="radius"  placeholder='Search within 25 mile radius'
						required
						max="25"
						min='.5'
						[(ngModel)]='newSearch.radius'
						#radius='ngModel'
						>
						<div class='input-group-btn'>
							<button class='btn btn-sm' (click) = "search(); searchform.reset" form='search'>
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class='col-xs-5'>
		</div>
	</div>

	<div class='row' id='map'>
		<div class='col-xs-2'>
		</div>
		<div class='col-xs-8'>
			<div style='text-align: center;' id='map app'>
				<div id="googleMap" style="width:100%;height:400px"><p>Mamma mia! We can't access your current location! This website requires your location to run properly.</p></div>
			</div>
		</div>
		<div class='col-xs-2'>
		</div>
	</div>

	<div class='row' id = 'button'>
		<div class='col-xs-2'>
		</div>
		<div class='col-xs-8'>
			<button class="btn btn-primary center-block" (click) = "pick_again()">Pick Again</button>
		</div>
		<div class='col-xs-2'>
		</div>
	</div>
</div>
