/**{
	outline: 1px dotted red;
}
*/
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#search{
	margin-top: 20px;
	margin-bottom: 20px;
}

#button{
	margin-top: 20px;
	margin-bottom: 20px;
}

#headerimg {
	width: 30px;
	height: 30px;
}

#/*imgbox{
	height: 25%;
}*/

#infobox{
	width: 25%;
	height: 400px;
}
