<html>


<div class=container>
  <form class="form-horizontal" action='' method="POST">
    <fieldset>
      <div id="legend">
        <legend class="">Update Profile<img src="../assets/static/images/30.png"/></legend>
      </div>
      <div class="control-group">
    <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        {{ user.name }}
        <p class="help-block">You cannot change your username!</p>
      </div>
    </div>

    <div class="control-group">
    <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">

      </div>
    </div>
    <div class="control-group">
    <!-- E-mail -->
      <label class="control-label" for="birthday">Birthday</label>
      <div class="controls">
        <input type="date" id="email" name="birthday" placeholder="" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
    <!-- E-mail -->
      <label class="control-label" for="zipcode">Zipcode</label>
      <div class="controls">
        <input type="text" id="email" name="zipcode" placeholder="" class="input-xlarge">

      </div>
    </div>
    <div class="control-group">
    <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Password should be at least 8 characters</p>
      </div>
    </div>

    <div class="control-group">
    <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
    <!-- Button -->
      <div class="controls">
        <button class="btn btn-danger">Update</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
<!-- jemery reg page -->
</html>
